*~

*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.o
*.so
*.tar.gz

/._bcdi
/._d
/._ncdi
/META
/Makefile
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.ml
/config.status
/configure
/curses
/test
/test.opt
